/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



  body {
    width: 100vw;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 10fr;
  }

  .header {
    grid-column: 2 / 3;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr 5fr;
    gap: 2em;
  }

  .header > img, header > p {
    grid-column: span 1;
  }

  .header > div {
    background-color: #e2e8f0;
    border-radius: 25px;
  }

  .sidebar {
    grid-column: span 1;
    grid-row: span 2;
  }

  .body {
    grid-column: span 1;
    grid-row: span 1;
  }

